.tugas_tugas .about_me_container {
  padding: 5em;
  background-color: grey; }
  .tugas_tugas .about_me_container p {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: -1em;
    font-size: 3em;
    margin-bottom: 1em; }
  .tugas_tugas .about_me_container ul {
    list-style-type: none;
    display: flex;
    justify-content: center; }
    .tugas_tugas .about_me_container ul li {
      margin-right: 2em;
      background-color: powderblue;
      padding: 0.8em;
      border-radius: 10px; }

.contact .about_me_container {
  padding: 5em;
  background-color: grey; }
  .contact .about_me_container p {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: -1em;
    font-size: 3em;
    margin-bottom: 1em; }
  .contact .about_me_container ul {
    list-style-type: none;
    display: flex;
    justify-content: center; }
    .contact .about_me_container ul li {
      margin-right: 2em; }
      .contact .about_me_container ul li a {
        background-color: powderblue;
        padding: 2em;
        border-radius: 10px; }
