.tugas_tugas {
  .about_me_container {
    p {
      text-align: center;
      padding: 2em;
      color: white;
      font-weight: bold;
      font-size: 2em;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      li {
        margin-right: 2em;
        background-color: powderblue;
        padding: 0.8em;
        border-radius: 10px;
      }
    }
  }
}
