@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

a {
  color: inherit; }

body {
  font-family: "Poppins", sans-serif; }
  }


header {
  background-color: slategrey;
  font-weight: bold;
  color: white;
  padding: 2em; }
  .kepala{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 2em; }
    header li {
      margin-right: 2em; }

.main {
  height: 80vh;
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center; }
  .main aside .sosial-media i {
    font-size: 3em;
    margin-top: 0.41em;
    margin-right: 0.5em; }
  .main article {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main article img {
      border-radius: 70%; }
.tugas_tugas, .contact{
	display: none;
  background-color: grey;
  padding: 2em; }
 BIN +21.7 KB 
images/my_pict.png

.about_me_container{
	align-items: center;
}
.Github{
	width: 18%;
    outline: none;
    border: none;
    background-color:powderblue;
    padding: 2px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    align-items: center;
}

}

